::-webkit-scrollbar{
    display:none;
}
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212020;
    max-width: 100vw;
    overflow-x: hidden;
}
#app {
  overflow: hidden;
}
p{
  color: #000;
}

:root{
    --Color-Background-Charcoal:#fff;
    --Color-Background2-Juniper:#ff7d00;
    --Color-Accent-Pinot:#00c3e3;
    --Color-Header-Blossom:#000;
    --Color-Text-Fondant:#EFEBE6;
    --SideBar-Width: 300px;
    --Font-Main-Hammersmith:"Arimo", sans-serif;
}
.text-brand{
  color: var(--Color-Text-Fondant);
}
.bg-base{
  background-color: var(--Color-Background2-Juniper);
}
.full-height{
  min-height: 95vh;
  height:100%;
  background-color: var(--Color-Background-Charcoal);
  max-width: 100vw;
  display: flex;
  flex-flow:column nowrap;
  justify-content: start;
  padding: 60px;
  border-bottom: 2px solid rgb(214, 195, 189, 0.5);
}
.shadow-effect{
  transition: all 0.5s;

  &:hover{
    box-shadow: -6px 6px 0 0 var(--Color-Accent-Pinot);
  }
}

.iconbox{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Color-Accent-Pinot);
  color: #ffffff;
  font-size: 2rem;
}

.arimo {
  font-family: "Arimo", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-style: normal; */
}

/* Base styling on Header tags */
  h1,h2,h3,h4,h5,h6{
    color: var(--Color-Header-Blossom);
    font-weight: 700;
  }
/* Base styling on achor tag */
  .nav-text{
    text-decoration: none;
    color: var(--Color-Text-Fondant);
    transition: all 0.4s ease;
    font-family: var(--Font-Main-Hammersmith);
  }
  .nav-text:hover{
    color: var(--Color-Background2-Juniper);
  }
/* Base styling on Image tag */
  img{
    width:100%;
  }
  img[alt='Mugshot']{
    transition: ease-in 0.5s;
    aspect-ratio: 1/1;
    width: 96px;
    height: 96px;
    border: 5px solid #000;

    &:hover{
      transition: ease-in 0.25s;
      border: 5px solid var(--Color-Accent-Pinot);
    }
  }
  img[alt='No']{
    aspect-ratio: 1/1;
    width: 138px;
    height: 138px;
  }
  img[alt='Card1']{
    aspect-ratio: 10/7;
    width: 100%;
  }
  /* Navbar */
  .navbar{
    background-color: var(--Color-Background2-Juniper);
  }

  ul li .nav-link{
    font-size: large;
    /* font-weight: 700; */
    text-transform: uppercase;
    color: var(--Color-Text-Fondant);

    &:hover{
      color: var(--Color-Header-Blossom);
    }
  }
  .nav-link.active{
    color: var(--Color-Header-Blossom);
  }

  @media (min-width: 992px) {
    #footer{
      margin-left: var(--SideBar-Width);
    }
    .navbar{
        min-height: 90vh;
        width: var(--SideBar-Width);

    }
  /* Content Wrapper */
   #Content-Wrapper{
    padding-left: var(--SideBar-Width);
    font-family: var(--Font-Main-Hammersmith);
    background-color: #212020;
    max-width: 100vw;
    overflow-x: hidden;
  }
  /* /Content Wrapper/ */

  }
  
  /* btn */
  .btn{
    padding: 12px 28px;
    font-weight: 700;
    color: var(--Color-Text-Fondant);
  }

  .btn-brand{
    background-color: var(--Color-Accent-Pinot);
    color: var(--Color-Header-Blossom);
    border-color: var(--Color-Header-Blossom);
    &:hover,
     :focus{
      background-color: var(--Color-Background-Charcoal);
      color: var(--Color-Header-Blossom);
      border-color: var(--Color-Header-Blossom);
     }
  }
  /* /btn/ */

  .link-custom{
    font-weight: 700;
    position: relative;
    
    &:hover{
      color: var(--Color-Header-Blossom);
    }
      
    }   
  .link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--Color-Header-Blossom);
    position: absolute;
    left:0;
    top: 110%;
    transition: all 0.5s ease;
    }
    .link-custom:hover::after{
      width:100%;
      transition: all 0.5 ease-in;
    }

    /* Card */
  .card-head{
    border: 1px solid #000;
  }
  .custom-card .custom-card-image{
    overflow: hidden;
  }
  .custom-card .custom-card-image img{
    transition: all 0.4s ease;
  }
  .custom-card:hover .custom-card-image img{
    transform: scale(1.1);
  }
    /* /Card/ */

    .form-control{
      background-color:var(--Color-Text-Fondant);
      border-color: var(--Color-Header-Blossom);
      color:black;
    }
    .form-control:focus{
      border-color: var(--Color-Accent-Pinot);
      box-shadow: none;
    }
    .form-control::placholder{
      color: black;
    }
    input.form-control{
      height: 44px;
    }
    .Return{
      width: 32px;
      height: 32px;
    }
    .social-links{
      padding: 5px;
      background-color: var(--Color-Text-Fondant);
    }
    .arrow{
      transition: ease-in-out 0.25s;
      font-size: 32px;
      color: #000;

      &:hover{
        transition: ease-in-out 0.25s;
        color: var(--Color-Accent-Pinot);
      }
    }

    /* footer */
    .footer-icon{
      color: white;
    }